* {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
}

h1, h2{
    font-family: Verdana, sans-serif;
}

h2{
    margin-bottom: -10px;
}

li{
    font-size:large;
    font-style: italic;
}

img{
    height: auto;
    width: auto;
}